.cards_filter {
    max-width: 100%;
    width: 1050px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 30px;
    .box {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            max-width: 100%;
            margin-bottom: 25px;
            width: 250px;
            height: 250px;
        }
        .subtitle {
            margin-bottom: 10px;
        }
        .title {
            margin-bottom: 15px;
        }
        .priceCard {
            width: 135px;
            text-align: center;
            background-color: #333333;
            color: white;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0.05em;
            padding: 10px 20px;
        }
    }
}