.articles {
    .txt {
        margin-bottom: 15px;
        font-size: 21px;
        font-weight: 400;
    }
    .title {
        font-size: 30px;
        font-weight: 700;
        margin: 0 20px 60px 20px;
        text-align: center;
    }
    .cards {
        max-width: 100%;
        width: 1110px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 60px;
    }
    button {
        padding: 15px 35px;
        background: #333333;
        font-size: 18px;
        font-weight: 500;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
    }
}

@media (max-width: 1178px) {
    .articles {
        margin-bottom: 30px;
    }
}