.ways {
    width: 277px;
    height: 280px;
    display: flex;
    justify-content: space-between;
    .us {
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        img {
            margin-bottom: 10px;
        }
    }
    .way-one,
    .way-two {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
}