.social-media {
    width: 255px;
    .title {
        border-bottom: 1px solid #333333;
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .txt {
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 21px;
        color: #333333;
    }
    .icons {
        width: 198px;
        display: flex;
        justify-content: space-between;
    }
}