    .salons {
        margin-bottom: 120px;
    }
    
    .articles {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 120px;
    }
    
    .soc-net {
        margin-bottom: 120px;
    }
    
    @media (max-width: 1144px) {
        .container_haeder {
            height: 500px;
            padding: 50px 20px;
            text-align: center;
            .title {
                margin-top: 140px;
                h1 {
                    font-size: 35px;
                }
            }
        }
        .header-footer_container {
            flex-wrap: wrap;
            div {
                padding: 10px;
            }
        }
        .salons .txt {
            width: 90%;
        }
        .articles {
            .cards {
                flex-wrap: wrap;
                justify-content: center;
                img {
                    width: 90%;
                }
                .text {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    
    @media (max-width: 1178px) {
        .soc-net {
            display: none;
        }
        .articles {
            margin-bottom: 30px;
        }
    }
    
    @media (max-width:406px) {
        .container_haeder {
            .title {
                h1 {
                    font-size: 23px;
                }
            }
        }
    }