.links {
    width: 255px;
    margin-right: 30px;
    .title {
        border-bottom: 1px solid #333333;
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .list {
        list-style: none;
        li {
            line-height: 30px;
        }
    }
}