.container_app {
    width: 100%;
    display: flex;
    flex-direction: column;
    .container {
        // width: 1200px;
        margin: 60px auto 0 auto;
    }
    header {
        width: 100%;
        background: #333333;
    }
    main {
        width: 100%;
        margin-bottom: 80px;
    }
    footer {
        width: 100%;
    }
}