@import "../../../style/vars";
.tabsShop_container {
    background-color: white;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 120px;
    .content {
        max-width: 1110px;
        width: 100%;
        margin: 0 auto;
        .title {
            text-align: center;
            margin-bottom: 60px;
            color: rgb(51, 51, 51);
            font-family: $font2;
            font-size: 30px;
            font-weight: 700;
            line-height: 41px;
            p {
                color: rgb(51, 51, 51);
                font-size: 21px;
                font-weight: 400;
                line-height: 140%;
                margin-bottom: 15px;
            }
        }
        .container_tabs {
            margin-bottom: 55px;
        }
    }
}

@media (max-width: 396px) {
    .tabsShop_container {
        .content {
            .title {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 1138px) {
    .tabsShop_container {
        .content {
            .title {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 1170px) {
    .tabsShop_container {
        .content {
            .boxCards {
                margin: 0 30px;
            }
            .container_tabs {
                margin: 0 30px;
            }
        }
    }
}