.contacts {
    width: 255px;
    margin-right: 30px;
    .title {
        border-bottom: 1px solid #333333;
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .list {
        list-style: none;
        line-height: 30px;
        font-size: 14px;
        font-weight: 400;
        color: #333333;
        li::before {
            content: url("/icons/phone.svg");
            margin-right: 20px;
        }
        li:last-child::before {
            content: url("/icons/mail.svg");
            margin-right: 20px;
        }
    }
}