.payment {
    width: 255px;
    margin-right: 30px;
    .title {
        border-bottom: 1px solid #333333;
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .txt {
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 21px;
        color: #333333;
    }
    .images {
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .img:first-child {
            margin-right: 20px;
        }
    }
}