    .tabs_container {
        .header {
            display: flex;
            column-gap: 24px;
        }
    }
    
    @media (max-width: 1138px) {
        .tabs_container {
            .header {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                .tab_item {
                    margin-bottom: 30px;
                }
            }
        }
    }