.soc-net {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .txt {
        font-size: 21px;
        font-weight: 400;
    }
    .title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 60px;
    }
}