.tab_item {
  width: 165px;
  height: 55px;
  border: 1px solid rgb(214, 214, 214);
  background: rgb(249, 249, 249);
  position: relative;
  .tab {
    position: absolute;
    border: 1px solid rgb(214, 214, 214);
    background: rgb(249, 249, 249);
    width: 165px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -6px;
    left: -6px;

    span {
      color: rgb(51, 51, 51);
      font-size: 18px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 10%;
      text-transform: uppercase;
    }
  }
}
